html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
  'navbar'
  'main'
  'footer';
}

button {
  background-color: black;
  cursor: pointer;
  border: none;
  height: fit-content;
  color: white;
  padding: 10px 15px;
  border-radius: 5pc;
}

button:hover{
  box-shadow: purple 0 0 8px 0px;
}

.mainContent{
  grid-area: main;
}

h1 {
  color: white;
}